
    .navbar .navbar-nav .nav-link{
      color : #FFF;
    }
    .intro-index{
      background-image: url("/Projeto-de-Estatistica/assets/Imagens/img-background.jpg");
      color: black;
    }
    .main-index{
      background-color: #F0F8FF;
    }
    footer{
      color: #FFF;
    }
